{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <base href="/My-Portfolio/">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Matthew Allen Curtis</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-white text-gray-900">
  {{ template "nav" . }}
  <main class="pt-20 space-y-16 max-w-8xl mx-auto px-4">
    {{ template "about" . }}
    {{ template "work" . }}
    {{ template "projects" . }}
    {{ template "volunteer" . }}
  </main>
  {{ template "footer" . }}
</body>
</html>
{{ end }}
